<!---TOMASZ SZURA -->

<meta charset="windows-1250" />
<link rel="stylesheet" type="text/css" href="auta.css" />

<html>

<head>
    {% block stylesheets %}
    <link href="{{ asset('bundles/teamdream/css/glowna.css') }}" rel="stylesheet" type="text/css">
{% endblock %}
<title>Nasze Samochody</title>
</head>

<body>
	
<p class="jeden">Samochody</p>

<p class="dwa">
<a class="glowna" href="http://v-ie.uek.krakow.pl/~s181864/app_dev.php/glowna"></a>
<a class="onas" href="http://v-ie.uek.krakow.pl/~s181864/app_dev.php/onas"> </a>
<a class="auta" href="http://v-ie.uek.krakow.pl/~s181864/app_dev.php/auta"> </a>
<a class="kontakt" href="http://v-ie.uek.krakow.pl/~s181864/app_dev.php/kontakt"></a>
</p>


<p class="trzy">
<br></br><br></br>
Nasze samochody</br>
</p>

<p class="trzy">

</br>

Audi R8 V10 PLUS</br>
Cena: 520zł/dzień</br></br>
Data wynajmu: </br>
Od:
<input type="date" name="" value="" /> Do: <input type="date" name="" value="" />   
<input type="button" value="Wynajmij" /></br></br>
<a target="_blank" href='{{asset('bundles/teamdream/images/zdjecia/cztery.jpg')}}'><img src='{{asset('bundles/teamdream/images/miniatury/mcztery.jpg')}}' alt='cztery' border="0" /></a>
</br> 
<iframe width="360" height="315" src="https://www.youtube.com/embed/cejNH5Ywi9o" frameborder="0" allowfullscreen></iframe>
</br></br></br></br></br></br></br>



Lexus LFA</br>
Cena: 400zł/dzień</br></br>
Data wynajmu: </br>
Od:
<input type="date" name="" value="" /> Do: <input type="date" name="" value="" />   
<input type="button" value="Wynajmij" /></br></br>
<a target="_blank" href='{{asset('bundles/teamdream/images/zdjecia/dwa.jpg')}}'><img src='{{asset('bundles/teamdream/images/miniatury/mdwa.jpg')}}' alt='cztery' border="0" /></a>
</br> 
<iframe width="360" height="315" src="https://www.youtube.com/embed/w6SySdNaCys" frameborder="0" allowfullscreen></iframe>
</br></br></br></br></br></br></br>



Tesla S P85D</br>
Cena: 400zł/dzień</br></br>
Data wynajmu: </br>
Od:
<input type="date" name="" value="" /> Do: <input type="date" name="" value="" />   
<input type="button" value="Wynajmij" /></br></br>
<a target="_blank" href='{{asset('bundles/teamdream/images/zdjecia/jeden.jpg')}}'><img src='{{asset('bundles/teamdream/images/miniatury/mjeden.jpg')}}' alt='cztery' border="0" /></a>
</br> 
<iframe width="360" height="315" src="https://www.youtube.com/embed/CpT_FfFbpBA" frameborder="0" allowfullscreen></iframe>
</br></br></br></br></br>





</p>



</body>
</html>